body {
      background-color: #000000;
      overflow-x: hidden;
      color: #ffffff;
}

::-webkit-scrollbar {
      display: none;
}

.oh {
      overflow-y: hidden;
}

.as-body {
      width: 100%;
      overflow-y: hidden;
}

/* Navigation bar items */
.menu-bar {
      text-align: end;
      float: right;
}

.menu-head-item {
      width: fit-content;
}